body
  margin: 0px

//*********** Header

header
  display: flex
  align-items: center
  justify-content: space-between
  height: 40px
  background-color: grey

  #title
    margin-left: 10px

  #list
    display: flex
    align-items: center

    > *
      width: 80px
      text-align: center
      margin: 0px 5px

    p
      width: 100px

    div
      cursor: pointer
